
<ng-container *ngIf="dataSource?.length > 0; then dataPanel; else nodataPanel">
</ng-container>

<ng-template #nodataPanel>
  <div>
    No records found.
  </div>
</ng-template>

<ng-template #dataPanel>
  <ng-container *ngIf="displayColInfo?.length > 0; then selColGrid; else allColGrid">
  </ng-container>    
</ng-template>

  <ng-template #selColGrid>
      <table border="1" cellpadding="5">  
        <thead>
          <tr>
            <th *ngFor="let col of displayColInfo">
              {{col.header}}
            </th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of dataSource">
          <td *ngFor="let col of displayColInfo">
            <div *ngIf="!col.enableEditLink">
              {{row[col.field]}}
            </div>
            <!--<div *ngIf="col.enableEditLink">
              <a [routerLink]="'/' + col.editRoute" [queryParams]="{id: row[col.editField]}">{{row[col.field]}}</a>
            </div>-->
            <!--<div *ngIf="col.enableEditLink">
                <a [routerLink]="'/' + col.editRoute + '/' + item[col.editField]">{{item[col.field]}}</a>
            </div>-->
            <div *ngIf="col.enableEditLink">
              <a [routerLink]="row['Url']">
                {{row[col.field]}}
              </a>
            </div>
          </td>          
        </tr>
      </table>
    </ng-template>
  

<ng-template #allColGrid>
  <table class="table" border="1">
    <thead>
      <tr>
        <th *ngFor="let key of dataSourceKeys">
          {{key}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of dataSource">
        <td *ngFor="let key of dataSourceKeys">
          {{row[key]}}
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>

